In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

In [4]:
lr=LinearRegression()

In [5]:
data=pd.read_csv('./Datasets/real_estate_price_size_year.csv')

In [6]:
data.describe(include='all')

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [8]:
data.describe()

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [9]:
data.head()

        price     size  year
0  234314.144   643.09  2015
1  228581.528   656.22  2009
2  281626.336   487.29  2018
3  401255.608  1504.75  2015
4  458674.256  1275.46  2009

In [10]:
data.isnull().sum()

price    0
size     0
year     0
dtype: int64

In [11]:
x=data[['size','year']]

In [12]:
y=data['price']

In [13]:
lr.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
lr.coef_

array([ 227.70085401, 2916.78532684])

In [31]:
lr.intercept_

-5772267.01746328

In [42]:
r2 = lr.score(x,y)
n = x.shape[0]
p = x.shape[1]
adjusted_r2 = 1-(1-r2)*(p-1)/(n-p)
print(adjusted_r_square)

0.5483520844559291

In [43]:
r2

0.7764803683276792

In [44]:
lr.predict([[643,2015]])

array([251467.06524217])

In [45]:
from sklearn.feature_selection import f_regression

In [46]:
f_regression(x,y)

(array([285.92105192,   0.85525799]), array([8.12763222e-31, 3.57340758e-01]))

In [47]:
p_values=f_regression(x,y)[1]

In [48]:
p_values

array([8.12763222e-31, 3.57340758e-01])