In [11]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

In [4]:
lr=LinearRegression()

In [6]:
data=pd.read_csv('./Datasets/real_estate_price_size.csv')

In [7]:
data.head()

        price     size
0  234314.144   643.09
1  228581.528   656.22
2  281626.336   487.29
3  401255.608  1504.75
4  458674.256  1275.46

In [8]:
data.describe(include='all')

               price         size
count     100.000000   100.000000
mean   292289.470160   853.024200
std     77051.727525   297.941951
min    154282.128000   479.750000
25%    234280.148000   643.330000
50%    280590.716000   696.405000
75%    335723.696000  1029.322500
max    500681.128000  1842.510000

In [17]:
x=data['size']
y=data['price']
x=np.array(x)
x=x.reshape(-1,1)

In [18]:
lr.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
lr.coef_

array([223.17874259])

In [20]:
lr.intercept_

101912.60180122912

In [23]:
lr.score(x,y) #R SQUARED

0.7447391865847586

In [29]:
lr.predict([[643]])

array([245416.53328956])